{% extends "base.html" %}

{% block content %}
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>№</th>
        <th>ID</th>
        <th>URL</th>
        <th>Last Update</th>
        <th>Interval</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    {% for record in url_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ record.id }}</td>
            <td><a href="{{ record.url }}">{{ record.url }}</a> </td>
            <td>{{ record.dt_updated }}</td>
            <td>{{ record.interval }}</td>
            <td>{{ record.status }}</td>
            <td><a href="{% url 'delete-url' pk=record.id %}">
                <button type="submit" class="btn btn-outline-danger">Delete</button></a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
