{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}
    Delete URL "{{ url }}"
{% endblock %}

{% block content %}
    <form action="{{ url.get_delete_url }}" method="post">
        {% csrf_token %}
        <div class="form-group my-2 p-2 border col-7">
            <p class="col-5">Are you sure that you want to delete <br>
                <b>"{{ url }}"</b>?</p>
            <a class="btn btn-outline-secondary" href="{{ url.get_absolute_url }}">Cancel</a>

{#            <a href={{ url.get_absolute_url }}><button type="submit" name="button" class="btn btn-outline-secondary">Cancel</button></a>#}
            <button type="submit" name="button" class="btn btn-outline-danger">Delete</button>
        </div>
    </form>

{% endblock %}