{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}
    Add URL
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data" class="col-5">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="form-group">
        <button class="btn btn-outline-secondary" type="submit">Add URL</button>
    </div>
    </form>
{% endblock %}
