{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}Monitor{% endblock %}</title>
    {% bootstrap_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% bootstrap_javascript jquery='slim' %}

</head>
<body>
<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url "dashboard" %}">Monitor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {% if request.user.is_authenticated %}
    <div class="navbar-nav">
{#        <a class="nav-item nav-link active" href="{% url "dashboard" %}">My URL</a>#}
      <a class="nav-item nav-link active" href="{%  url "create-url" %}">Add URL<span class="sr-only">(current)</span></a>
    </div>
      {% endif %}
  </div>
    <span class="user">
        {% if request.user.is_authenticated %}
            <a href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url "register" %}">Register</a>
            <a href="{% url "login" %}">Login</a>
        {% endif %}
    </span>
</nav>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>