{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
    <div class="content-section">
    <form method="post" class="col-5">
        {% csrf_token %}

        <legend class="border-bottom mb-4">Log In</legend>
{#        {{ form.as_p }}#}
        {% bootstrap_form form %}

        <div class="form-group">
            <button class="btn btn-outline-secondary" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
            <small class="text-muted col-5">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock %}