{% extends "base.html" %}

{% block content %}
    <h1 class="col-5">Logged out</h1>
    <p class="col-5">
        Your have been successfully logged out.
        You can <a href="{% url "login" %}">login again.</a>
    </p>
{% endblock %}